body {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #005;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 100px;
  position: fixed;
  color: #fc1;
  height: 130px;
  width: 100%;
}

.loginBar {
  background-color: #fc1;
  text-align: right;
  position: fixed;
  color: #005;
  margin-top: 130px;
  padding-right: 50px;
  height: 20px;
  width: 100%;
}

.navbar {
  background-color: #005;
  color: #fc1;
  font-size: 1.2em;
  margin-top: 150px;
  padding-top: 30px;
  padding-left: 30px;
  position: fixed;
  height: 1000px;
  width: 250px;
  float: left;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
}

.content {
  margin-top: 150px;
  padding-left: 320px;
  width: 50%;
  float: left;
}

fieldset div {
  padding: .3em;
}

#loginPadding {
  height: 170px;
  width: 100%;
}
#loginCenter {
  width: 50%;
  margin: 0 auto;
}

#login {
  width: 300px;
}

#createAcct {
  text-align: right;
  float: left;
}

#errorMsg1, #errorMsg2, #insertError {
  color: red;
}

